/.env
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/TheeChodebot--Discord.iml
/.idea/vcs.xml
/refs/guildsinfo - Copy.py
